{% extends 'base.html' %}
{% load static %}

{% block title %}
    Чати
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/chats.css' %}">
{% endblock %}

{% block content %}
    <button class = 'create-ch'>Створити груповий чат</button>
    <div class = 'my-c'>
        <img src="{% static 'images/contacts-grey.png' %}" alt="" class="contacts-p">
        <h1 class = 'contacts'>Контакти</h1>
        <input class = 'search' type="Пошук" placeholder="Пошук" >
        <img src="{% static 'images/search.png' %}" alt="" class="search-p">
        <p class = 'name-c'>Jane Cooper</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Cameron Williamson</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Lesli Alexander</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Robert Fox</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Jacob Jones</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Brooklyn Simmons</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Cameron Williamson</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Esther Howard</p>
        <div class = 'image-c'></div>
        <p class = 'name-c'>Darrell Steward</p>
        <div class = 'image-c'></div>

    </div>
    <div class = 'main-s'>
        <h1 class = 'start'>Почніть нове спілкування</h1>
        <p class = 'choose'>Оберіть контакт зі списку ліворуч 
        або створіть групу, щоб почати спілкування</p>
    </div>
    <div class = 'messages'>
        <h1 class = 'mes'>Повідомлення</h1>
        <h2 class = 'all'>Дивитись всі</h2>
        <div class = 'test'>
            <div class = 'image-m'></div>
            <p class = 'name'>Mona Lisa</p>
            <p class = 'message'>Привіт!Як справи?</p>
            <p class = 't-d'>09:41</p>
        </div>
        <div class = 'image-c'></div>
        <p class = 'name'>Ann Ti</p>
        <p class = 'message'>Привіт!</p>
        <p class = 't-d'>25.04.2025</p>
        <div class = 'image-c'></div>
        <p class = 'name'>Ann Ti</p>
        <p class = 'message'>Привіт!</p>
        <p class = 't-d'>25.04.2025</p>
        <div class = 'image-c'></div>
        <p class = 'name'>Ann Ti</p>
        <p class = 'message'>Привіт!</p>
        <p class = 't-d'>25.04.2025</p>
        <div class = 'image-c'></div>
        <p class = 'name'>Ann Ti</p>
        <p class = 'message'>Привіт!</p>
        <p class = 't-d'>25.04.2025</p>
    </div>
    <div class = 'group-chats'>
        <h1 class = 'group-m'>Групові чати</h1>
    </div>
{% endblock %}