.dark {
    filter: brightness(30%);
}

.hidden-post-form {
    display: none;
}

main {
    height: 100vh;
    display: flex;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 2.78vh;
    padding: 0;
    /* margin: auto; */
    /* position: absolute; */
    width: 53.68vw;
    height: 81.39vh;
    background-color: white;
    border: 1px solid #81818D;
    border-radius: 2.78vw;
    z-index: 10;
}

.send-p {
    position: relative;
    left: 7.08vw;
    bottom: 1.25vh;
}

.creation {
    width: 47.57vw;
    height: 5.42vh;
    position: relative;
    top: 4.17vh;
    left: 1.39vw;
    padding: 10px;
}

.post-form p {
    position: relative;
    flex-direction: column;
    right: 17.36vw;
    top: 2.78vh;
    width: 8.40vw;
    height: 2.5vh;
    margin: 3.33vh;
    size: 16px;
}

.post-form p textarea {
    width: 47.57vw;
    height: 18.06vh;
    border-radius: 0.69vw;
}

.send {
    position: relative;
    font-size: 18px;
    right: 0.42vw;
    color: white;
    top: 1.25vh;
}

.post-form p input {
    padding: 12px;
    border-radius: 0.69vw;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #81818D;
    width: 23.82vw;
    height: 5.83vh;
}

.post-p {
    background-color: #543C52;
    border-radius: 1.39vw;
    border: 1px solid #543C52;
    width: 9.03vw;
    height: 5.56vh;
    position: relative;
    left: 18.75vw;
    bottom: 1.39vh;
}

.close-post-form {
    position: absolute;
    top: 1.5vh;
    right: 2vw;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    transition: color 0.2s ease;
}

.close-post-form:hower {
    color: #543C52;
}