.post-options {
    position: relative;
}

.hidden-form {
    display: none;
}

.visible-form {
    position: absolute;
    right: 1.39vw;
    display: flex;
}

.visible-form button {
    width: 6.94vw;
    height: 4.17vh;
    border: 1px solid #CDCED2;
    border-radius: 0.35vw;
    background-color: #FAF8FF;
    color: #F43F5E;
    font-size: 20px;
}
