@font-face {
    font-family: "GT Walsheim Pro";
    src: url(../font/GT_Walsheim_Pro/GTWalsheimPro-CondensedRegular.ttf);
}

*{
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
    color: #070A1C;
    font-family: GT Walsheim Pro;

    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

body{
    background-color: #E9E5EE;
    overflow: hidden;
}

header{
    position: absolute;
    top: 0px;
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    padding: 0px 5vh;
    margin-bottom: 5vh;
    background-color: #FFFFFF;
}

main{
    height: 90vh;
}

.logo{
    width: 8vw;
    height: 2vh;
}

.vector{
    width: 1.5vw;
    height: 3vh;
}

.header-content{
    display: flex;
    gap: 5vw;
}

.links{
    display: flex;
    gap: 2vw;
}

.link{
    display: flex;
    gap: 1vw;
}

.header-image{
    height: 2vh;
}

a{
    text-decoration: none;
}

.logout{
    display: flex;
    width: 6vw;
    height: 5vh;
    border: 1px solid #543C52;
    border-radius: 1234px;
    background-color: #FFFFFF;
}

.logout p{
    font-size: 3vh;
}