{% load static %}

{% if post == "" %}
    <form id="create" class="hidden-post-form createPostForm" method="post">
        <span id="closePostForm" class="close-post-form">&times;</span>
        {% csrf_token %}
        <h1 class = 'creation'>Створення публікації</h1>
        <!-- <input type="hidden" value="create"> -->
{% else %}
    <form id="change{{ post.id }}" class="hidden-post-form changePostForm" action="{% url 'change_post' post.id %}" method="post">
        <span id="closePostForm" class="close-post-form">&times;</span>
        {% csrf_token %}
        <h1 class = 'creation'>Редагування публікації {{ post.id }}</h1>
        <!-- <input type="hidden" value="change"> -->
{% endif %}
    {{ form.as_p }}
    {% if post == "" %}
        <button class = 'post-p' type="submit">
            <span class = 'send'>Публікація</span>
            <img class='small-images' src="{% static 'images/send.png' %}" alt="">  
        </button> 
    {% else %}
        <button id="{{ post.id }}" class = 'post-p' type="submit">
            <span class = 'send'>Публікація</span>
            <img class = 'small-images' src="{% static 'images/send.png' %}" alt="">  
        </button>
    {% endif %}
</form>