{% load static %}

<form id="createPostForm" class="hidden-post-form" method="post">
    {% if  form_name == 'create_post' %}
        <h1 class = 'creation'>Створення публікації</h1>
    {% else %}
        <h1 class = 'creation'>Редагування публікації</h1>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    {% if form_name == 'create_post' %}
        <button class = 'post-p' type="submit">
                <div class="publish-f">
                    <span class = 'send'>Публікація</span>
                    <img class = 'send-p' src="{% static 'images/send.png' %}" alt="">  
                </div>
        </button> 
    {% else %}
        <button class = 'post-p' type="submit">
            <div class="publish-f">
                <span class = 'send'>Публікація</span>
                <img class = 'send-p' src="{% static 'images/send.png' %}" alt="">  
            </div>
        </button>
    {% endif %}
</form>