.my-c{
    overflow-y: auto;
    scrollbar-color:var(#543C52, grey);
    position: absolute;
    top: 19vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: white;
    height: 80vh;
    width: 20vw;
    border-radius: 10px;
    border: 1px solid #CDCED2;
}
.contacts{
    position: absolute;
    top: 3vh;
    right: 12vw;
    color: #81818D;
    font-size: 19px;
}
.create-ch{
    position: absolute;
    background-color: #543C52;
    left: 5vw;
    top: 12vh;
    width: 20vw;
    height: 5vh;
    border-radius: 1234px;
    color: white;
    border: 1px solid #543C52;
    font-size: 14px;
}
.search{
    position: relative;
    padding-left: 1vw;
    top: 20vh;
    border-radius: 10px;
    border: 1px solid #CDCED2;
    width: 18vw;
    padding: 1vw;
    height: 5vh;
}
.contacts-p{
    position: absolute;
    top: 3.2vh;
    right: 17vw;
    font-size: 17px;
}
.search-p{
    position: relative;
    top: 15.5vh;
    right: 8vw;
}
.name-c{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 24vh;
    left: 1vw;
    font-weight: bold;
}
.image-c{
    width: 6vh;
    height: 6vh;
    flex-shrink: 0;
    background-color: #CDCED2;
    border-radius: 1234px;
    position: relative;
    top: 19vh;
    right: 6vw;
}
.main-s{
    position: relative;
    background-color: white;
    width: 40vw;
    height:87vh;
    left: 26vw;
    top: 9.9vh;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}
.start{
    position: relative;
    top: 43.5vh;
    left: 11vw;
    font-weight: bolder;
    font-size: 24px;
}
.choose{
    position: relative;
    top: 45vh;
    left: 6vw;
    word-break: break-all;
    text-align: center;
}
.messages{
    background-color: white;
    /* display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0;
    flex-direction: column;
    gap:10px; */
    border-radius: 10px;
    width: 20vw;
    height: 40vh;
    position: relative;
    left: 68vw;
    bottom: 77vh;
    border: 1px solid #CDCED2;
}
.mes{
    position: relative;
    left: 2vw;
    top: 2vh;
    color: #81818D;
}
.all{
    position: relative;
    bottom: 0vh;
    left: 15vw;
    font-size: 15px;
}
.test{
    background-color: #E9E5EE;
}
.t-d{
    position: relative;
    left:15vw;
    bottom: 3vh;
    /* display: flex;
    align-items: center;
    min-height: unset;
    height:auto;
    margin: 0 auto;  */


}
.group-chats{
    background-color: white;
    border-radius: 10px;
    width: 20vw;
    height: 40vh;
    position: relative;
    left: 68vw;
    bottom: 75vh;
    border: 1px solid #CDCED2;

}
.group-m{
    color: #81818D;
}