{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete Post
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block content %}
    <div class="social-media-feed"> 
        <div class="feed">
            <div class="post">
                <div class="creator">
                    <div class="creator-info">
                        <div class="main-info">
                            <div class="avatar-container">
                                <img class="avatar" src="{% static 'images/avatar2.jpg' %}" alt="">
                                <div class="is-offline"></div>
                            </div>
                            <p class="creator-name">{{ post.author }}</p>
                        </div>
                    </div>
                    <div class="post-options" id="{{ post.id }}">
                        <img src="{% static 'images/dots.png' %}" alt="Menu" class="dots">
                        <div id="menu-{{ post.id }}" class="dropdown-menu">
                            <form class="hidden-form" id="form-{{ post.id }}" method="post" action="">
                                {% csrf_token %}
                                <input type="hidden" name="delete_post" value="{{ post.id }}">
                                <button type="submit">Видалити</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <div class="post-text">
                        <p class="title">{{ post.title }}</p>
                        <p>
                            {{ post.content }}
                        </p>
                        <p class="post-tags">
                            {{ post.tags }}
                        </p>
                    </div>
                    <div class="aktives">
                        <div class="likes">
                            <img src="{% static 'images/likes.png' %}" alt="">
                            <p>{{ post.likes }} Вподобань</p>
                        </div>
                        <div class="views">
                            <img src="{% static 'images/views.png' %}" alt="">
                            <p>{{ post.views }} Переглядів</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}