{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-info">
    <div class="me">
        <img src="{% static 'images/friend-avatar.jpg' %}" alt="Аватар" class="my-avatar">
        <div class="I-am-online"></div>
        <div class="username">
            <h2 class="name">Ім'я Друга</h2>
            <p>@friend_username</p>
        </div>
    </div>
    <div class="about-me">
        <p>Про себе</p>
        <p>Тут буде короткий опис друга: хобі, місто, робота.</p>
    </div>
    <div class="friends">
        <div class="top-text">
            <span class="section-title">Друзі</span>
            <a href="#" class="see-all">Всі</a>
        </div>
        <div class="friend-requests">
            <div class="request">
                <div class="avatar-container">
                    <img src="{% static 'images/avatar1.jpg' %}" alt="Friend" class="my-avatar">
                    <div class="is-online"></div>
                </div>
                <div class="friend-info">
                    <span>Катя</span>
                    <span class="friend-request-followers">200 підписників</span>
                </div>
            </div>
        </div>
    </div>
    <div class="chats">
        <div class="top-text">
            <span class="section-title">Чати</span>
            <a href="#" class="see-all">Всі</a>
        </div>
        <div class="messages">
            <div class="request">
                <div class="avatar-container">
                    <img src="{% static 'images/avatar2.jpg' %}" alt="Chat" class="my-avatar">
                    <div class="is-offline"></div>
                </div>
                <div class="friend-info">
                    <span>Олег</span>
                    <span class="friend-message">Привіт! Як справи?</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social-media-feed">
    <div class="feed">
        <div class="post">
            <div class="creator">
                <div class="main-info">
                    <img src="{% static 'images/friend-avatar.jpg' %}" alt="Аватар" class="my-avatar">
                    <div class="username">
                        <span class="name">Ім'я Друга</span>
                        <span>1 годину тому</span>
                    </div>
                </div>
            </div>
            <div class="post-content">
                <div class="post-text">
                    <p>Щойно повернувся з подорожі до Карпат! Це було неймовірно 🌄</p>
                </div>
                <div class="post-images">
                    <div class="img-in-row">
                        <img src="{% static 'images/trip1.jpg' %}" alt="img1" class="two-in-row-img">
                        <img src="{% static 'images/trip2.jpg' %}" alt="img2" class="two-in-row-img">
                    </div>
                </div>
                <div class="aktives">
                    <div class="likes">
                        <img src="{% static 'images/like-icon.png' %}" class="small-images">
                        <span>120</span>
                    </div>
                    <div class="views">
                        <img src="{% static 'images/view-icon.png' %}" class="small-images">
                        <span>400</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
