{% extends 'base.html' %}
{% load static %}

{% block title %}
    Друзі
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block content %}
    <nav class="settings-links">
        <h1 class="is-active">Друзі</h1>
        <a href="#requests" class="is-passive">Запити</a>
        <a href="#recomendations" class="is-passive">Рекомендації</a>
        <a href="#allFriends" class="is-passive">Всі друзі</a>
    </nav>

    <div class="main-block">
        <div class="card">
            <div class="pseudo-header">
                <h2 class="title" id="#requests">Запити</h2>
            </div>
            <div class="user-cards-list">
                <div class="user-card">
                    <div class="info">
                        <div class="avatar">
                            <div class="is-offline"></div>
                        </div>
                        <span class="friend-info">
                            <p class="friend-name">Yehor Aung</p>
                            <p class="friend-username">@thelili</p>
                        </span>
                    </div>
                    <span class="card-buttons">
                        <button class="confirm-button">Підтвердити</button>
                        <button class="decline-button">Видалити</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    
{% endblock %}